<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    
  <bean class="com.manauwar.spring.HelloWorld" id="helloWorld">
       <property name="message" value="Hello World!">
  </property></bean>
  
 <bean id="address" class="com.manauwar.spring.Address"></bean>  
<bean id="employee" class="com.manauwar.spring.Employee" ></bean>  

  
</beans>